<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anju html page</title>
    
</head>
<body>
    <center>
        <h1 style="color: blue;">This our first html page in django project</h1>
        <h2 style="font-size: x-large;color:yellow" >This is requried by using render function </h2>
        <h2 style="color:blueviolet;">rendring is a process of intercting with templates folder and extracting specified html page to functions</h2>
    </center>
    <h1 style="background-color: whitesmoke;"> This is our second html page in django project</h1>
</body>
</html>